{% extends 'base.html.twig' %}

{% block title %}SymfonyCine{% endblock %}

{% block body %}

    <h1>SymfonyCine</h1>
    {# Affichage du message de bienvenue envoyé par le controleur #}
    {{ welcomeMessage }}

{% endblock %}
