{% extends 'base.html.twig' %}

{% block title %}SymfonyCine{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/symfonycine.css') }}">
{% endblock %}

{% block body %}

    {# Nav bar de recherche #}
    <nav>
        <div class="gauche">
            <img src="{{ asset('images/logo.png') }}" alt="logo" height="40">
            <div class="onglets">
                <p>Accueil</p>
                <p>Séries TV</p>
                <p>Films</p>
                <p>Programmes originaux</p>
                <p>Ajouts récents</p>
                <p>Ma liste</p>
            </div>
        </div>
        <div class="droite">
            <p><i class="fas fa-search"></i></p>
            <p><i class="fas fa-bell"></i></p>
            <p>Mon compte</p>
        </div>

    </nav>
    <!-- Fin de la barre de navigation -->

    {# Sélection des films en base (films stockés en base locale)#}
    {{ render(controller(
        'App\\Controller\\MovieController::getMovieSelection',
        { 'local': true }
    )) }}



    {# Sélection des films depuis l'API #}
    {{ render(controller(
        'App\\Controller\\MovieController::getMovieSelection'
    )) }}


    {# Footer #}
    <!-- Pied de page -->
    <footer>
        <h5>Des questions ? Appelez le 0805-220-512</h5>
        <div class="colonnes">
            <div class="colonne">
                <p>FAQ</p>
                <p>Relations Investisseurs</p>
                <p>Modes de lecture</p>
                <p>Mentions légales</p>
                <p>Programmes originaux Netflix</p>
            </div>
            <div class="colonne">
                <p>Centre d'aide</p>
                <p>Relations Investisseurs</p>
                <p>Modes de lecture</p>
                <p>Mentions légales</p>
                <p>Programmes originaux Netflix</p>
            </div>
            <div class="colonne">
                <p>FAQ</p>
                <p>Recrutement</p>
                <p>Conditions d'utilisation</p>
                <p>Nous contacter</p>
            </div>
            <div class="colonne">
                <p>Compte</p>
                <p>Utiliser des cartes cadeaux</p>
                <p>Confidentialité</p>
                <p>Test de vitesse</p>
            </div>
        </div>
        <p>Netflix, France</p>
    </footer>
    <!-- Fin du pied de page -->

{% endblock %}